.searchArea {
    display: flex;
    flex-direction: column;
    width: 25vw;
    background: red;
}

.firmSearch {
    margin-top: 5px;
    margin-left : 5px;
    margin-right : 5px;
    border: 1px solid black;
    height: 35px;
}

.searchResultBtn {
    color: white;
    background: teal;
    border-radius : 4;
    line-height: 2;

}
