.container {
    display: flex;
    position: relative;
    width : 100vw;
    height: 100vh;
    background-color : white;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100%;
}

.uiContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    background: pink;
}

.viewButton {
    color: black;
    background: white;
    width: 10vw;
    height: 30px;
    border: 1px solid teal;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.footer {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    bottom: 0;
}


.networkUIContainer {
    display: flex;
    width: 90vw;
    background-color: transparent;
    justify-content: center;
    align-items: center;

}



